@charset "utf-8";
html,body{
    background-color: #ffffff;
    color: black;
    font-family: "맑은 고딕";
    font-size: 16px;
}

a{
    color: #333333;
    text-decoration: none;
}

a:hover{
    color: #666;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

.table,td.th{
    border: 1px solid black;
    border-collapse: collapse;
}

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

footer{
    height: 100px;
    padding: 0 40px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div{
    display: flex;
    justify-content: center;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: beige;
}

h1{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 img{
    width: 200px;
    height: 40px;
}

.nav-box{
    width: 83%;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav{
    width: 60%;
    max-width: 60%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.main-nav{
    width: 25%;
    position: relative;
}

.main-nav>a{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.main-nav:hover>a{
    background-color: gray;
    color: white;
}

.drop{
    position: absolute;
    width: 100%;
    background-color: white;
    margin-top: 1px;
    height: 160px;
    display: none;
    z-index: 999;
}

.drop a{
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.drop a:hover{
    background-color: black;
    color: white;
}

.slider-box{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 300px;
}

.slide img{
    width: 100%;
}

.youjinslider{
    position: absolute;
    width: 300%;
    height: 100%;
}

.slide{
    position: relative;
    width: 33.33%;
    height: 100%;
}

.slide p{
    position: absolute;
    width: 50%;
    height: 150px;
    background-color: rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.content div{
    width: 33.33%;
}

.content>div:nth-of-type(2){
    margin: 0 10px;
}

.content h3{
    width: 30%;
    padding: 6px 10px;
    background-color: grey;
    color: #333333;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

.content h3:hover{
    background-color: black;
    color: #eeeeee;
}

.content ul{
    height: 167px;
    background-color: #ffffff;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}

.notice li{
    padding: 0 10px;
}

.notice li:nth-child(even){
    background-color: beige;
}

.notice li span{
    float: right;
}

.gallery>ul,
.content>ul>li,
.gallery>ul>li>a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery img{
    width: 80%;
    display: block;
}

.gallery img:hover{
    opacity: 0.7;
}

.direct{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/direct.jpg") center center;
}

.direct a{
    width: 50%;
    padding: 10px 0;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: grey;
}

.direct a:hover{
    background-color: black;
    color: #eeeeee;
}

.footergroup{
    width: 40%;
    height: 100%;
    padding: 20px 0;
    flex-direction: column;
    justify-content: space-around;
}

.footermenu{
    justify-content: space-between;
}

.footermenu a{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.footercright{
    letter-spacing: 0.4px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.familysite{
    width: 25%;
}

.familysite>select{
    width: 100%;
    padding: 8px;
}

.modal-wrap{
    position: absolute;
    width: 100%;
    /* max-width: 600px; */
    height: 100%;
    /* max-height: 400px; */
    /* background-color: white; */
    /* left: 50%;
    top: 50%; */
    z-index: 99999;
    /* transform: translate(-50%, -50%); */
    /* border: 2px solid #ddd; */
    display: none;
    top: 0;
}

.modal-body{
    width: 50%;
    max-width: 600px;
    height: 50%;
    max-height: 400px;
    background-color: #eee;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding-top: 5px;
}

.modal-body h2{
    background-color: grey;
    width: 70%;
    padding: 5px;
    margin: 5px;
}

.modal-content{
    padding: 10px;
    text-align: justify;
    line-height: 200%;
}

.modal-close{
    position: absolute;
    bottom: 10px;
    right: 10px;
}